@mixin titulos($color) {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #a7a5a5;
    font-weight: 100;
    text-transform: uppercase;
}

@mixin boton($color) {
    width: auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border-color: solid 1px (to right, $principal 0%, $secundario 100%);
    background: linear-gradient(to right, $principal 0%, $secundario 100%);
    margin: 20px 40px 40px 40px;
    cursor: pointer;
    transition: all 300ms;
    text-transform: uppercase;
    text-align: center;
}

@mixin botonHover($color) {
    background: linear-gradient(to right, $terciario 0%, $terciario 100%);
                border-color: solid 1px (to right, $cuarto 0%, $terciario 100%);
                transform: scale(1.1, 1.1);
}
