$principal: #F69D9D;
$secundario: #ff9bd0;
$terciario: #ffc2e2;
$cuarto: #f08fc2;
$colorText: #797979;
$colorSecondTittle: #474444;
$grisBasico: #ccc;
$grisBasico2: #eee;
$grisClarito: #e1e1e1;
$grisFondo: #f0eeee;
$grisOscuro: #555;
$grisTittles: #a7a5a5;
$grisFondo2: #f5f5f5;
$grisBordes: #e0dada;
$blanco: #fff;
$negro: #000;